/*
* GTK Colors
*/

@define-color accent_color {color6};
@define-color accent_fg_color #001c39;
@define-color accent_bg_color {color6};
@define-color window_bg_color #111318;
@define-color window_fg_color #e1e2e9;
@define-color headerbar_bg_color #111318;
@define-color headerbar_fg_color #e1e2e9;
@define-color popover_bg_color #111318;
@define-color popover_fg_color #e1e2e9;
@define-color view_bg_color #111318;
@define-color view_fg_color #e1e2e9;
@define-color card_bg_color #111318;
@define-color card_fg_color #e1e2e9;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;

/* GTK3/Legacy Variables */
@define-color theme_bg_color @window_bg_color;
@define-color theme_fg_color @window_fg_color;
@define-color theme_base_color @view_bg_color;
@define-color theme_text_color @view_fg_color;
@define-color theme_selected_bg_color @accent_bg_color;
@define-color theme_selected_fg_color @accent_fg_color;

/* Breeze/XFCE tooltips & menus */
@define-color tooltip_bg_color @popover_bg_color;
@define-color tooltip_fg_color @popover_fg_color;
