@import url("/home/indigo/.cache/wal/colors-waybar.css");

* {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 13px;
}

.notification {
    border-radius: 10px;
}

.control-center {
    border-radius: 10px;
}
